<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantApi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <div class="presentation">
            <div class="section1">
                <h2>PlantApi</h2>
                <p>Ofrecemos una plataforma intuitiva donde podrás explorar diferentes tipos de plantas, obtener consejos sobre su cuidado y mantener un registro de las que tienes en casa. Encontrarás información detallada para cada tipo de planta, trucos y recomendaciones para poder mantenerlas saludables y mucho más.</p>
                <a href="#next" class="button2">¡Comienza ahora!</a>
            </div>
        </div>
        <div id="next" class="section2">


            <div class="card">
                <p class="heading"> GET 127.0.0.1:3000/plantas</p>
                <p class="para">Obtener todas las plantas disponibles en la base de datos. usando las query params se puede filtrar por name, limit y sort.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1:3000/plantas" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>

            <div class="card">
                <p class="heading">GET / PUT / DELETE 127.0.0.1:3000/plantas/id</p>
                <p class="para">Obtener una planta en particular por su id, modificarla o eliminarla.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1:3000/plantas/reemplazarporid" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>

            <div class="card">
                <p class="heading">POST 127.0.0.1:3000/plantas</p>
                <p class="para">Agregar una nueva planta a la base de datos, keys: name, tipo y cuidados.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1:3000/plantas" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>

            <div class="card">
                <p class="heading">GET 127.0.0.1:3000/cuidados</p>
                <p class="para">Obtener todos los cuidados disponibles en la base de datos.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1:3000/cuidados" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>

            <div class="card">
                <p class="heading">GET / PUT / DELETE 127.0.0.1/cuidados/id</p>
                <p class="para">Obtener un cuidado en particular por su id, modificarlo o eliminarlo.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1/cuidados/reemplazarporid" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>

            <div class="card">
                <p class="heading">POST 127.0.0.1/cuidados</p>
                <p class="para">Agregar un nuevo cuidado a la base de datos, keys: tipo, descripcion y frecuencia.
                </p><div class="overlay"></div>
                <button data-link="127.0.0.1/cuidados" class="btn-copy">
                    <span
                        data-text-end="Copied!"
                        data-text-initial="Copy link"
                        class="cp-tooltip"
                    ></span>
                    <span>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 6.35 6.35"
                        y="0"
                        x="0"
                        height="20"
                        width="20"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-clipboard"
                        >
                        <g>
                            <path
                            fill="currentColor"
                            d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                            ></path>
                        </g>
                        </svg>
                        <svg
                        xml:space="preserve"
                        style="enable-background:new 0 0 512 512"
                        viewBox="0 0 24 24"
                        y="0"
                        x="0"
                        height="18"
                        width="18"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        class="cp-check-mark"
                        >
                        <g>
                            <path
                            data-original="#000000"
                            fill="currentColor"
                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                        </g>
                        </svg>
                    </span>
                    </button>
            </div>
            
        </div>
    </main>

    <footer>
        <div>
            <p class="footerTitle">Escuela Da Vinci</p>
            <p>Aplicaciones Híbridas</p>
            <p>Parcial I</p>
            <p>09-10-2024</p>
        </div>
        <div>
            <p class="footerTitle">Integrantes</p>
            <p>Camila Galíndez</p>
            <p>Santiago Bozzalla</p>
            <p>Iván Arazi</p>
        </div>
    </footer>


<script src="../index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>